body {
  margin: 0;
  padding: 0;
  background-image: url(images/dimsum.webp);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  font-size: 20px;
}
.navbar {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 450px;
  width: 100%;
  height: 125px;
  box-shadow: 0px 0px 5px 4px rgba(0, 0, 0, 0.5);
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: #f8f9fa;
}

.container a {
  margin: 15px;
  padding: 15px;
  color: rgb(22, 16, 16);
  text-decoration: none;
  font-weight: bold;
  color: black;
  font-family: Georgia, "Times New Roman", Times, serif;
  /* border: 1px solid black;
  border-radius: 5px; */
  /* background-color: rgb(231, 247, 248); */
  /* box-shadow: 0px 0px 2px 1px rgb(165, 163, 163); */
}
.container img {
  /* padding: 22px;
  margin: 10px; */
  margin-left: 130px;
  border-radius: 3px;
  height: 110px;
  width: 190px;
}
.contact input[type="text"],
.contact input[type="email"],
.contact input[type="tel"] {
  width: 35%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.contact {
  background: url(images/dimsum.webp);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding: 20px;
  padding-left: 140px;
  border-radius: 8.5px;
  width: auto;
  margin-top: 50px;
  margin-left: 410px;
  margin-right: 70px;
  color: black;
  text-align: start;
  height: auto;
  font-size: 20px;
  font-weight: bold;
}
.contact input[type="submit"] {
  width: 200px;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid black;
  border-radius: 4px;
  height: auto;
  font-size: 15px;
}
