body {
  margin: 0;
  padding: 0;
  background-image: url(images/dimsum.webp);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  font-size: 20px;
}
.navbar {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 450px;
  width: 100%;
  height: 125px;
  box-shadow: 0px 0px 5px 4px rgba(0, 0, 0, 0.5);
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: #f8f9fa;
}

.container a {
  margin: 15px;
  padding: 15px;
  color: rgb(22, 16, 16);
  text-decoration: none;
  font-weight: bold;
  color: black;
  font-family: Georgia, "Times New Roman", Times, serif;
  /* border: 1px solid black;
  border-radius: 5px; */
  /* background-color: rgb(231, 247, 248); */
  /* box-shadow: 0px 0px 2px 1px rgb(165, 163, 163); */
}
.container img {
  /* padding: 22px;
  margin: 10px; */
  margin-left: 130px;
  border-radius: 3px;
  height: 110px;
  width: 190px;
}
.carousel {
  margin-top: 20px;
  display: flex;
  width: 1300px;
  height: 750px;
  margin-left: 100px;
  /* border: 1px solid rgb(165, 163, 163);
  border-radius: 5px; */
  overflow: hidden;
}
.carousel div {
  min-width: 100%;
  transition: transform 1s ease-in-out;
}
.img1 {
  animation: slide 9s infinite;
}
.img2 {
  animation: slide 9s infinite;
}
.img3 {
  animation: slide 9s infinite;
}
.img4 {
  animation: slide 9s infinite;
}
@keyframes slide {
  0% {
    transform: translateX(0);
  }
  33.33% {
    transform: translateX(-100%);
  }
  66.66% {
    transform: translateX(-200%);
  }
  100% {
    transform: translateX(-300%);
  }
}
.carousel div:nth-child(1) {
  animation-delay: 0s;
}
.carousel div:nth-child(2) {
  animation-delay: 3s;
}
.carousel div:nth-child(3) {
  animation-delay: 6s;
}
.img1 img {
  width: 1300px;
  height: 750px;
}
.img2 img {
  width: 1300px;
  height: 750px;
}
.img3 img {
  width: 1300px;
  height: 750px;
}
.img4 img {
  width: 1300px;
  height: 750px;
}

#item {
  border-radius: 200px;
  border: 1px solid rgb(165, 163, 163);
  width: 230px;
  color: black;
  text-align: center;
  padding: 15px;
  margin-top: 60px;
  margin-left: 645px;
}
#reviews {
  border: 1px solid rgb(165, 163, 163);
  border-radius: 200px;
  width: 550px;
  color: black;
  text-align: center;
  padding: 20px;
  margin-left: 500px;
  margin-top: 50px;
}
.items {
  display: flex;
  flex-wrap: wrap;
  padding-top: 30px;
  gap: 20px;
  /* margin-left: 140px; */
  background-image: url(images/dimsum.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  margin: 20px;
  border-radius: 5px;
}
.cards {
  background-color: rgb(231, 247, 248);
  width: 220px;
  height: 340px;
  padding: 5px;
  border-radius: 5px;
  border: 1.5px solid rgb(165, 163, 163);
  margin-left: 40px;
  margin-bottom: 30px;
}

.cards p,
h2 {
  text-align: center;
  color: rgb(26, 23, 23);
  font-family: Georgia, "Times New Roman", Times, serif;
}
.cards img {
  border-radius: 2px;
  height: 170px;
  width: 220px;
}
.customer {
  display: flex;
  flex-wrap: wrap;
  padding-top: 30px;
  gap: 10px;
  /* margin-left: 82px; */
  background-image: url(images/dimsum.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  margin: 20px;
  border-radius: 5px;
}

.review {
  border: 0.5px solid rgb(165, 163, 163);
  border-radius: 3px;
  color: black;
  width: 310px;
  padding: 5px;
  background-color: rgb(231, 247, 248);
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 16px;
  margin-left: 32px;
  margin-bottom: 30px;
}

.review .name {
  margin: 0;
  font-weight: bold;
}

.review .rating {
  align-items: center;

  color: gold;
}
.profile {
  display: flex;
  gap: 10px;
}
.profile p {
  padding-top: 6.5px;
}
.profile img {
  border-radius: 70px;
}
footer {
  text-align: center;
  color: black;
  margin: 40px;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 17px;
}
